--extra-index-url https://download.pytorch.org/whl/cu124
chardet
cog
einops
ftfy
gradio
huggingface_hub
librosa
pandas
phonemizer
progressbar
pyloudnorm
pyyaml
scipy
soundfile
timm
torch>=2.6.0
torchaudio>=2.6.0
torchlibrosa>=0.1.0
torchvision>=0.21.0
tqdm
transformers>=4.51.3
unidecode
